.text-field{
    -fx-border-width: 1px;
    -fx-border-color:#DEDEDE;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.text-field:focused{
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}

#changePwButton{-fx-background-color: #58B2AC;}
#changePwButton:hover{-fx-background-color: #4B9D98;}