#contentArea{
    -fx-background-color: #F7F7F8;
}

#crmBanner,#crmBannerBg,#leftBan{
    -fx-background-color: #343434;
}

#fieldRow1{
    -fx-background-color: #FDFDFD;
    -fx-background-radius: 2;
    -fx-effect: dropshadow(three-pass-box, #E4E4E4, 2,0.5,1,1);
}


#customerButton:disabled,
#transactionButton:disabled,
#productButton:disabled,
#promotionButtonL:disabled,
#paymentButton:disabled,
#dashboardButton:disabled,
#settingButton:disabled{
    -fx-background-color: #343434;
    -fx-border-width: 0px 5px 0px 0px;
    -fx-border-color: #FFFFFF;
}

#customerButton:hover,
#transactionButton:hover,
#productButton:hover,
#promotionButton:hover,
#paymentButton:hover,
#dashboardButton:hover,
#settingButton:hover{
    -fx-background-color: #121212;
}

#customerButton,
#transactionButton,
#productButton,
#promotionButton,
#paymentButton,
#dashboardButton,
#settingButton{
    -fx-text-fill: #FFFFFF;
    -fx-border-style: none;
    -fx-background-color: #343434;
}

#staffIcon{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 2, 0, 0, 0);
}

.text-field,.combo-box{
    -fx-border-width: 1px;
    -fx-border-color:#DEDEDE;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.text-field:focused{
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}


#searchButton{-fx-background-color: #3385ff;}
#searchButton:hover{-fx-background-color: #1a75ff;}
#createButton{-fx-background-color: #35B366;}
#createButton:hover{-fx-background-color: #2EA15A;}
#clearButton{-fx-background-color: #D3D3D3;}
#clearButton:hover{-fx-background-color: #C6C6C6;}
#actionButton{-fx-background-color: #606060;}
#actionButton:hover{-fx-background-color: #565656;}

#exitButton{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/exit.png');
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50;
}

#exitButton:hover{
    -fx-background-color: #D7D7D7;
}

.table-view{
    -fx-background-radius:5;
}

.table-view .column-header {
    -fx-background-color:  #EBEBEB;
    -fx-size:40;
}
