#background_color{
    -fx-background-color: #F4F4F4;
}

.text-field,.combo-box{
    -fx-border-width: 1px;
    -fx-border-color:#DEDEDE;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.text-field:focused{
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}
.table-view{
    -fx-background-radius:5;
}

.table-view .column-header {
    -fx-background-color:  #EBEBEB;
    -fx-size:40;
}
#editButton{-fx-background-color: #58B2AC;}
#editButton:hover{-fx-background-color: #4B9D98;}
#itemAddBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/itemAddBtn.png');
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50;
}
#itemAddBtn:hover{-fx-background-color: #D7D7D7;}
#itemDelBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/itemDelBtn.png');
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 50;
}
#itemDelBtn:hover{-fx-background-color: #D7D7D7;}

#cusTransBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/btn_cusTrans.png');
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 5;
}
#cusTransBtn:hover{-fx-background-color: #D7D7D7;}
#infoEditBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/btn_infoEdit.png');
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 5;
}
#itemConfirmBtn{
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-background-image: url('/resources/itemConfirmBtn.png');
    -fx-background-size: 30px 30px;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-radius: 5;
}


#infoEditBtn:hover{-fx-background-color: #D7D7D7;}