.text-field{
    -fx-border-width: 1px;
    -fx-border-color:#DEDEDE;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.text-field:focused{
    -fx-border-color: #888888;
    -fx-border-width: 1px;
}

#submitBtn{-fx-background-color: #58B2AC;}
#submitBtn:hover{-fx-background-color: #4B9D98;}

#addBtn{-fx-background-color: #3E9B65;}
#addBtn:hover{-fx-background-color: #1E6C3E;}