.table-view{
    -fx-background-radius:5;
}

.table-view .column-header {
    -fx-background-color:  #EBEBEB;
    -fx-size:40;
}

#selectBtn,
#selectDetailBtn
{
    -fx-background-color: #606060;
}
#selectBtn:hover ,
#selectDetailBtn:hover
{-fx-background-color: #3F3F3F;}

#importBtn{-fx-background-color: #58B2AC;}
#importBtn:hover{-fx-background-color: #4B9D98;}