#editLocationBtn,
#editPaymentMethodBtn,
#changeProPicBtn,
#changePwBtn,
#aboutBtn{
    -fx-background-color: #FCFCFC;
    -fx-effect: dropshadow(three-pass-box, #E4E4E4, 2,0.5,1,1);
}

#editLocationBtn:hover,
#editPaymentMethodBtn:hover,
#changeProPicBtn:hover,
#changePwBtn:hover,
#aboutBtn:hover{
    -fx-background-color: #F1F1F1;
}
